<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.HtmlAgilityPack" version="8.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.Abstractions" version="8.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.Analytics" version="8.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.Analytics.Core" version="8.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.Buckets" version="8.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.FXM" version="8.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.FXM.Service" version="8.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.Kernel" version="8.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.Services.Core" version="8.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.Services.Infrastructure" version="8.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.Services.Infrastructure.Sitecore" version="8.1.2" targetFramework="net45" />
  <package id="SC.System.Net.Http" version="8.1.2" targetFramework="net45" />
  <package id="SC.System.Web.Http" version="8.1.2" targetFramework="net45" />
  <package id="SC.System.Web.Http.Cors" version="8.1.2" targetFramework="net45" />
  <package id="SC.System.Web.Http.WebHost" version="8.1.2" targetFramework="net45" />
  <package id="SC.System.Web.Mvc" version="8.1.2" targetFramework="net45" />
</packages>