<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
   <pipelines>
      <initialize>
        <processor type="Sitecore.Support.Initialize.ReConfigureCORS, Sitecore.Support.166271" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
        <!--<processor type="Sitecore.Support.FXM.Service.Pipelines.EnableBeaconServiceSessionStateProcessor, Sitecore.Support.166271" patch:instead="processor[@type='Sitecore.FXM.Service.Pipelines.EnableBeaconServiceSessionStateProcessor, Sitecore.FXM.Service']" />-->
      </initialize>
    </pipelines>
    <!-- <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="ExampleController">Sitecore.Support.FXM.Service.Controllers.CustomBeaconController, Sitecore.Support.166271</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>-->
  </sitecore>
</configuration>